@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);







/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */


ul {
  margin: 0px;
  padding: 0px;
}


.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #001D38;
}

.footer p {
  font-family: "Roboto", sans-serif !important;
}

.footer .footer_top {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

.footer .footer_top .footer_widget .footer_title {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget p {
  color: #AAB1B7;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer .footer_top .footer_widget p a {
  color: #AAB1B7;
}

.footer .footer_top .footer_widget p a:hover {
  color: #FFFFFF;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #007bff;
  font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #007bff;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
  color: #AAB1B7;
  font-size: 14px;
  line-height: 42px;
}

.footer .footer_top .footer_widget ul li a {
  color: #AAB1B7;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget ul li a:hover {
  color: #FFFFFF;
}

.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: transparent;
  padding-left: 20px;
  font-size: 15px;
  color: #FFFFFF;
  border: none;
  border: 1px solid #334A60;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 14px;
  color: #AAB1B7;
}

.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #007bff;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 5px;
  top: 5px;
  right: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_text {
  font-size: 14px;
  color: #AAB1B7;
  line-height: 26px;
}

.footer .copy-right_text {
  padding-bottom: 30px;
}

.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #AAB1B7;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}

.footer .copy-right_text .copy_right a {
  color: #007bff;
}

.footer .socail_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  .footer .socail_links {
    margin-top: 30px;
  }
}

.footer .socail_links ul li {
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer .socail_links ul li a {
  font-size: 15px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #fff !important;
  line-height: 40px !important;
  background: transparent;
  color: #334A60 !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #334A60;
}

.footer .socail_links ul li a i {
  font-size: 15px;
  line-height: 40px;
  position: relative;
  top: -1px;
}

.footer .socail_links ul li:hover a {
  color: #fff !important;
  background: #007bff;
  border-color: transparent;
  border: 1px solid #007bff;
}

